{% extends '_base.html' %}
{% load static %}

{% comment %} Remove Navigation {% endcomment %}
{% block mobile_navigation %}
{% endblock mobile_navigation %}

{% block sidebar_navigation %}
{% endblock sidebar_navigation %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock css %}

{% comment %} Login Form {% endcomment %}
{% block content %}

        <div class="flex h-screen">
            
            <div class="m-auto h-2/3">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="my-5 uppercase tracking-wider font-semibold text-center text-3xl md:text-5xl">
                    Ølmonopolet
                    </div>
                    
                    {% comment %} Username {% endcomment %}
                    <div class="mb-2">
                        <div class="font-light italic">
                            {{ form.username.label_tag }}
                        </div>
                        <div class="flex border border-black rounded-md overflow-hidden text-sm font-light h-7">
                            <span class="m-auto mx-2 flex-grow">{{ form.username }}</span>
                        </div>
                    </div>

                    {% comment %} Password {% endcomment %}
                    <div class="mb-2">
                        <div class="font-light italic">
                            {{ form.password.label_tag }}
                        </div>
                        <div class="flex border border-black rounded-md overflow-hidden h-7">
                            <span class="m-auto mx-2 flex-grow">{{ form.password }}</span>
                        </div>
                    </div>

                    <div class="font-normal text-sm text-center text-red-600 my-2">
                        {% if form.errors %}
                            <p>Feil brukarnamn eller passord, prøv att.</p>
                        {% endif %}
                    </div>

                    <div class="flex">
                        <input class="mx-auto px-2 border border-black rounded-md bg-gray-300 font-light text-md cursor-pointer hover:bg-gray-400" type="submit" value="Logg inn">
                    </div>

                    {% comment %} 
                    **** LOGIN successful ****
                    Redirect to a Users preferred Vinmonopol Store. If Profile.Store is not defined then redirect to Home
                    {% endcomment %}
                    <input type="hidden" name="next" value="{% url 'login_redirect' %}">
                </form>
            </div>

        </div>
{% endblock content %}
