{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ølmonopolet</title>
    <!-- TODO: legg til favicon(logo i title) -->
    <!-- Vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- Project CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>

<body>
    <!-- <ul>
        {% for stock in beer_stock %}
        <li>
            {{stock.beer_id}} ({{stock.beer_id.alc_volume}}%) - NOK {{stock.beer_id.price}}
        </li>
        {% endfor %}
    </ul> -->

    <!-- Vue Application -->
    <div id="app">

        <v-app>
            <v-main>
                <v-container>
                    <router-view></router-view>
                </v-container>
            </v-main>

            <v-footer app></v-footer>
        </v-app>
    </div>


    <!-- Vue JS Resources -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <!-- Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- Vuex -->
    <script src="{% static 'vue/vue_store.js' %}"></script>
    <!-- Vue Views -->

    <!-- Vue Components -->
    <script src="{% static 'vue/components/StoreCard.js' %}"></script>
    <!-- Vue Router -->
    <script src="{% static 'vue/vue_router.js' %}"></script>
    <!-- Vue JS Application -->
    <script src="{% static 'vue/vue_app.js' %}"></script>

</body>

</html>