{% comment %} Base HTML file to be extended {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/10bd335677.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js" defer></script>
    <title>{% block title %}Ølmonopolet{% endblock title %}</title>
</head>

<body>

    <div class="container mx-auto ">
        <div class="flex">

            <!-- sidebar for Navigation-->
            <div id="sidebar" class="flex-none hidden lg:block w-2/12 cursor-default">

                <div class="flex flex-col font-light text-center text-xl text-gray-500 sticky top-0">
                    
                    <!-- Logo -->
                    <div class="flex justify-center my-5">
                        <div class='bg-gray-400 w-32 h-32'>
                            INSERT LOGO
                        </div>
                    </div>

                    {% comment %} Hent ut ID til store dynamisk for bruk til URL {% endcomment %}
                    {% firstof store_id store.store_id as store_id %}
                    <!-- Store -->
                    <div class="flex flex-col py-2 my-2 mx-2 border-t border-b">
                        <div class="text-sm font-bold italic">
                            Valgt Butikk
                        </div>
                        <div class="text-lg">
                            <i class="fas fa-map-marker-alt fa-sm text-red-400"></i>
                            <span class="">{{ store }}</span>
                        </div>
                        <div class="text-xs font-light italic">
                            <a href="{% url 'home' %}">Bytt Butikk</a> 
                        </div>
                    </div>

                    <div class="my-2 transform ease-in duration-100 hover:scale-110 hover:text-gray-700">
                        <a href="{% url 'beer_stock' store_id %}">
                            <i class="fas fa-boxes "></i>
                            <span class="">Varelager</span>
                        </a>
                    </div>
                    <div class="my-2 transform ease-in duration-100 hover:scale-110 hover:text-gray-700">
                        <a href="{% url 'stock_change' store_id %}">
                            <i class="far fa-calendar-alt"></i>
                            <span class="">Lagerendringar</span>
                        </a>
                    </div>
                    <div class="my-2 transform ease-in duration-100 hover:scale-110 hover:text-gray-700">
                        <a href="{% url 'release_overview' store_id %}">
                            <i class="fas fa-shipping-fast"></i>
                            <span class="">Ølslepp</span>
                        </a>
                    </div>
                    <div class="my-2 transform ease-in duration-100 hover:scale-110 hover:text-gray-700">
                        <a class="" href="{% url 'about' store_id %}">
                            <i class="fas fa-info"></i>
                            <span class="">Om</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <div id="content" class="flex-auto static">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</body>

{% comment %} htmx {% endcomment %}
<script src="https://unpkg.com/htmx.org@1.2.0"></script>
<script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
</script>

<script src="{% static 'js/base.js' %}"></script>
{% comment %} Block to include page specific Javascript {% endcomment %}
{% block javascript %}{% endblock javascript %}

</html>