{% extends '_base.html' %}
{% load static %}

{% block content %}

<!-- Header Info -->

<div class="flex sticky top-14 py-7 bg-white ">
        Her kommer en kul seksjon med masse informasjon!

        {% comment %} Search Beers {% endcomment %}
        <div class="flex justify-center my-5 h-10 ">
            <div class="group w-1/3 flex justify-center items-center text-gray-400 focus-within:text-yellow-500 ">
                <input
                    class="flex-grow rounded-lg  p-2 border-gray-400 border focus:outline-none focus:border-yellow-500 focus:text-gray-600"
                    type="text" name="query" placeholder="Søk gjennom lageret hos {{store.name}}..."
                    hx-trigger="keyup changed delay:500ms" hx-target="#beer_stock" hx-post="{% url 'beer_stock_search' store.store_id %}" hx-indicator=".htmx-indicator">
                <i class="fas fa-beer fa-2x -mx-10  "></i>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id='content'>
    
    {% comment %} Beer Cards {% endcomment %}
    <div id="beer_stock" class="grid grid-cols-1 lg:grid-cols-2 gap-4 mx-1">

        {% comment %} Inject all Beers in Stock - Infinite Scroll {% endcomment %}
        <div class="" hx-get="{% url 'store_beers' store.store_id %}" hx-trigger="revealed" hx-swap="outerHTML" hx-indicator=".htmx-indicator"></div>
    
    </div>
    
    {% comment %} Loading spinner {% endcomment %}
    <div class="py-10">
        <img class="htmx-indicator mx-auto" src="{% static 'svg/spinners/bars.svg' %}" />
    </div>
</div>

{% endblock content %}