{% extends '_base.html' %}
{% load static %}

{% block content %}

<!-- Header Info -->
<div class="flex sticky top-14 lg:top-0 py-4 bg-white z-40">
    <div class="w-full mx-4 text-center h-auto border-b border-gray-500">
        <div class="font-light text-5xl italic">
            Bestillingsutvalet
        </div>
        <div class="mx-auto w-full lg:w-3/5 p-2">
            Øl frå bestillingsutvalet er tilgjengeleg for alle uavhengig lagerstatus ved ditt næraste pol.
        </div>
        {% comment %} Search Beers {% endcomment %}
        <div class="flex justify-center my-2 h-10 ">
            <div class="group flex w-4/5 md:w-3/5 lg:w-1/3 justify-center items-center text-gray-400 rounded-lg border border-gray-400 focus-within:text-yellow-400 focus-within:border-yellow-400">
                <input
                    class="w-full focus:outline-none mx-2 focus:text-gray-700"
                    type="text" name="query" placeholder="Finn øl og bryggeri"
                    hx-trigger="keyup changed delay:500ms" hx-target="#ordering_range" hx-post="{% url 'ordering_range_search' %}" hx-indicator=".htmx-search-indicator">
                
                {% comment %} Search spinner {% endcomment %}
                <div class="w-6 mx-2">
                    <img class="htmx-search-indicator htmx-indicator mx-auto" src="{% static 'svg/spinners/bars.svg' %}" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id='content'>
    
    {% comment %} Beer Cards {% endcomment %}
    <div id="ordering_range" class="grid grid-cols-1 lg:grid-cols-2 gap-4 mx-4">

        {% comment %} Inject all Beers in 'Bestillingsutvalet' - Infinite Scroll {% endcomment %}
        <div class="" hx-get="{% url 'ordering_range_beers' %}" hx-trigger="revealed" hx-swap="outerHTML" hx-indicator=".htmx-indicator"></div>
    
    </div>
    
    {% comment %} Loading spinner {% endcomment %}
    <div class="py-10 w-20 mx-auto">
        <img class="htmx-indicator mx-auto" src="{% static 'svg/spinners/bars.svg' %}" />
    </div>
</div>

{% endblock content %}