<div>
    <h3>Hei <b><i>{{ username }}</i></b>!</h3>

    <p>
        Takk for at du har nytta Ølmonopolet. 
    </p>

    <p>Ølmonopolet er avslutta og vil ikkje vere aktivt framover. Du vil av den grunn ikkje kunne sjekke lagerstatus på http://olmonopolet.ngrok.io eller motta e-postar med lagerendring ved ditt favorittpol.</p>
    
    <p>Med venleg helsing Kjetil.</p>

    <p style="font-size:10px"><i><b>PS:</b> Ta gjerne kontakt på <a href="mailto:kjeloren@gmail.com">e-post</a> dersom du kunne tenke deg å ta over prosjektet, det er tilgjengeleg på <a href="https://github.com/KLorentzen/olmonopolet-api">GitHub</a>.</p></i>

</div>