<h2>Hei <b><i>{{ username }}</i></b>!</h2>
<div>
    <p>Vinmonopolet <i>{{ store.name }}</i> har fylt på i hyllene! </p>
    {% for beer in beers|dictsort:"name" %}
    <ul>
        <li style="list-style-type: none">

            <a href="{{beer.url}}" style="text-decoration: none;">
                <h3 style="margin:0">{{ beer.name }}</h3>
            </a>
            <ul>
                {% with beer.untappd.all|first as untappd  %}
                    
                    {% comment %} Viser ølstil fra Untappd dersom det eksisterer mapping, ellers benyttes stil fra VMP {% endcomment %}
                    {% if untappd %}
                        <li>Stil: {{ untappd.style }}</li>
                    {% else %}
                        <li>Stil: {{ beer.style }}</li>
                    {% endif %}

                    <li>Pris: kr {{ beer.price }}</li>
                    <li>Styrke: {{ beer.alc_volume }}%</li>
                    <li>Størrelse: {{ beer.volume }} liter</li>
                    {% for stock in beer.beerstock.all  %}
                        {% if stock.store_id == store  %}
                            <li>Lagerstatus: {{ stock.product_stock }} stk</li>
                        {% endif %}
                    {% endfor %}

                    {% comment %} Viser Untappd-rating dersom det er mapping {% endcomment %}
                    {% if untappd %}
                        <li>Untappd-skår: <a href="{{untappd.url}}" style="text-decoration: none;">{{ untappd.rating|floatformat:3 }}</a></li>
                    {% endif %}

                    {% if not beer.buyable %}
                        <li> Lanseringsdato: {{ beer.launch_date|date:"d.m.Y" }} ({{ beer.selection }})</li>
                    {% endif %}
                
                {% endwith %}
            </ul>
        </li>
    </ul>
    {% endfor %}
    <p style="font-size:9px"><i><b>PS:</b> Ølmonopolet er på ingen måte affiliert med Vinmonopolet! Føler du at øl tar over hverdagen, ta kontakt med Rustelefonen på <a href="tel:+4708588">08588</a></p></i>
</div>